body{
    background-color: #dfdf54 !important;
    font-family: 'Montserrat', sans-serif !important;
}
.img-myway{
    height: 450px !important;
    width: 100% !important;
    object-position: top center !important;
    object-fit: cover !important;
}